body {
    background-color: rgb(52, 79, 92);
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: azure;
    color: rgb(47, 70, 64);
    background-color: rgb(87, 114, 172);
    border: 1px solid black;
    font-size: 7rem;
}

.cell:hover {
    background-color: rgb(89, 185, 192);
    border: 1px solid white;
}